graft docs
graft src
graft tests
graft ci
graft .github

include .bumpversion.cfg
include .coveragerc
include .editorconfig
include .isort.cfg

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt
include requirements_dev.txt

include tox.ini .travis.yml appveyor.yml
recursive-include tests *
global-exclude *.py[cod] __pycache__ *.so *.dylib
